{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craft Manager</title>

    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
</head>
<body>
<p>----------------------------------------------------------------</p>
<a href="lab_list/">Spis Labów</a> - <a href="new_craft/">Nowy Craft</a> - <a href="accreditation/">Akredytacja</a></h3>
<p>----------------------------------------------------------------</p>
<h1>Menu Główne</h1>
<ul>
    <li><a href="lab_list/">Spis labów</a></li>
    <li><a href="new_craft/">Nowy craft</a></li>
    <li><a href="accreditation/">Akredytacja nowego przedmiotu</a></li>
</ul>
</body>
</html>